<%- include('partials/header', { title: 'Current Month Expenses' }) %>
<%- include('partials/sidebar' , {title : 'Current Month Expenses'}) %>
<section class="content">
    <p>Here are your current month expenses.</p>
</section>
<%- include('partials/footer') %>
