<%- include('partials/header', { title: 'Help' }) %>
<%- include('partials/sidebar' , {title : 'Help'}) %>
<section class="content">
    <p>Here you can find help and support.</p>
</section>
<%- include('partials/footer') %>
