<%- include('partials/header', { title: 'Help' }) %>
<%- include('partials/sidebar' , {title : 'Help'}) %>
<section class="content">
    <p>Here you can manage your integrations.</p>
</section>
<%- include('partials/footer') %>
