<%- include('partials/header', { title: 'Integrations' }) %>
<%- include('partials/sidebar' , {title : 'Integrations'}) %>
<section class="content">
    <p>Here you can manage your integrations.</p>
</section>
<%- include('partials/footer') %>
