<%- include('partials/header', { title: 'Last Month Expenses' }) %>
<%- include('partials/sidebar' , {title : 'Last Month Expenses'}) %>
<section class="content">
    <p>Here are your last month expenses.</p>
</section>
<%- include('partials/footer') %>
