<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login : Budget Manager</title>
    <link rel="stylesheet" href="styles/signin.css">
</head>
<body>
    <div class="container">
        <div class="login-container">
            <h1 class="title">Budget Manager</h1>
            <div class="login-content">
                <div class="social-login">
                    <button class="btn facebook"><a href="/auth/facebook">Login with Facebook</a></button>
                    <button class="btn twitter"><a href="/auth/github">Login with Twitter</a></button>
                    <button class="btn google"><a href="/auth/google">Login with Google+</a></button>
                </div>
                <div class="divider">OR</div>
                <div class="manual-login">
                    <form action="/login" method="post">
                        <input type="text" name="username" placeholder="Username or email" required>
                        <input type="password" name="password" placeholder="Password" required>
                        <div class="options">
                            <label>
                                <input type="checkbox" name="remember"> Remember me
                            </label>
                            <button type="submit" class="btn login">LOGIN</button>
                        </div>
                        <div class="links">
                            <a href="/register">Register now</a> | <a href="/forgot-password">Forgot password?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        const sumbit_button = document.querySelector(".login");
        document.addEventListener("keypress" , (key)=>{ 
        var pressed_key = this.event.key; 
       if(pressed_key == "Enter"){
           sumbit_button.click();
       }
       return; 
        });
    </script>
</body>
</html>
