<%- include('partials/header', { title: 'Saved Budget Update' }) %>
<%- include('partials/sidebar' , {title : 'Saved Budget Update'}) %>
<section class="content">
    <p>Here is your saved budget update.</p>
</section>
<%- include('partials/footer') %>
