<%- include('partials/header', { title: 'Settings' }) %>
<%- include('partials/sidebar', {title : 'Settings'}) %>
<section class="content">
    <p>Here you can change your settings.</p>
</section>
<%- include('partials/footer') %>
