<%- include('partials/header', { title: 'Sign Out' }) %>
<%- include('partials/sidebar' , {title : 'Sign Out'}) %>
<section class="content">
    <p>You have successfully signed out.</p>
</section>
<%- include('partials/footer') %>
