<%- include('partials/header', { title: 'Tips' }) %>
<%- include('partials/sidebar' , {title : 'Tips'}) %>
<section class="content">
    <p>Here you can find useful tips for managing your budget.</p>
</section>
<%- include('partials/footer') %>
