.page-title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font: 300;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font: 300;
    padding: 20px;      
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);   
}